.left-column{
	float: left;
	height: 100%;
	background-color: #343838;
	z-index: 2;
	box-shadow: 0px 0px 3px #888888;
	display: flex;
	flex-flow: column;
}

html, body, #app{
	height: 100%;
	background-color: rgb(241, 241, 241);
	font-family: 'Merriweather', sans-serif;
}

.bottom-align{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.centered-text{
	text-align: center;
}

aside > *{
	width: 100%;
}

#manageRoomsDiv {
	flex: 0 0 auto;
	height: auto;
	margin-bottom: 30px;
}

#manageRoomsDiv > button{
	width: 150px;
	margin-top: 20px;
	margin-bottom: -11px;
}

#onlineUsersDiv{
	margin-left: 0px;
	height: 55%;
	flex: 1 0 auto;
	overflow-y: auto;
}

#onlineUsersList{
	margin-left: 0px;
	padding-left: 0px;
	box-shadow: none;
}


#onlineUsersList > li{
	margin-left: 0px;
	padding-left: 7px;
	border: none;
}

#roomTabsDiv{
	flex: 0 0 auto;
}

#roomTabsList{
	border-bottom: none;
	/*border-top: 1px solid #ddd;*/
	padding-left: 0px;
	border-width: 3px;
	padding-top: 0px;
}
.room-tab-element{
	display: inline-block;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 18px;
	background-color: rgb(241, 241, 241);
	border: 5px solid #ddd;
	border-top: none;
	border-width: 2px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.room-tab-element.active{
	box-shadow: 3px 2px 3px #ddd;
	background-color: white;
	position: relative;
	bottom: 3px;
	border-width: 3px;
}

#input-tabs-group{
	width: 98%;	
	height: 10%;
}

#input-div{
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	flex: 0 0 auto;
}

#chatDiv{
	height: 90%;
	border: 3px;
	padding-top: 60px;
	display: flex;
	flex-flow: column;
	background-color: rgb(241, 241, 241);
}

#chat-input-box{
	border-radius: 10px;
	border-style: double;
	resize: none;
	padding: 1em;
	width: 100%;
}

#chat-input-box:focus{
	outline: none;
	border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.message-list-wrapper{
	height: 90%;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: white;
	overflow-y: auto;
	min-height: 0px;
	flex: 1 1 auto;
}

.message-list-content{
	bottom: 0;
	padding-left: 10px;
}

.message-list-element{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

button {
	background-color: #006f7d;
	border-radius: 6px;
	box-shadow: none;
	border: none;
	font-size: 18;
	text-align: center;
	height: 30px;
	color: #343838;
}

#settings-div{
	margin-top: 20px;
	flex: 0 0 30px;
	margin-bottom: 10px;
}

.room-tab-label{
	color: #00477d;
}


::-webkit-scrollbar {
    width: 8px;
  
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: rgba(52, 56, 56, 0.50);
}

.message-sender-font{
	font-weight: bold;
}

#chat-div-box{
	border:1px solid #ddd;
	border-width: 3px;
	margin-top: 5px;
	border-radius: 3px;
	border-bottom-left-radius:0px;
	flex: 1 1 auto;
	min-height:0px;
	display: flex;
	flex-direction: column;
}